In [1]:
# Pandas---> Pandas is an open-source library that is used for data mannipulations.

In [2]:
#!pip install pandas---> for jupyter notebook 
# pip innstall pandas---> for vs code

In [3]:
import pandas as pd

In [4]:
# data structure of Pandas
#(1). Series--> it id 1-D array and it return only values not colomn name.
# (2). Dataframe---> it is multi-dimensional aaray and it returns column name with values

In [5]:
#Series

In [7]:
a=pd.Series([1,34,67,90])  #always capitale S
#a

In [8]:
#type(a)

In [9]:
#DataFrame

In [11]:
a={
    "Emp_ID":[1,2,3,4,5],
    "Name":["Sam","Raj","Rahul","Aniket","Pallavi"],
    "Department":["IT","Sales","Sales", "HR","HR"],
    "Working_hours":[8,8,8,9,9],
    "Salary":[20000,25000,34000,31000,28000]
    
}

In [13]:
df=pd.DataFrame(a)
df

   Emp_ID     Name Department  Working_hours  Salary
0       1      Sam         IT              8   20000
1       2      Raj      Sales              8   25000
2       3    Rahul      Sales              8   34000
3       4   Aniket         HR              9   31000
4       5  Pallavi         HR              9   28000

In [14]:
# how can we export this data into csv format?

In [15]:
df.to_csv("emp_data.csv",index=False)

In [16]:
#How can we export this data into excel forma?

In [20]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
df.to_excel("update_emp_data.xlsx" , index=False)

In [19]:
#how do you import excel data?

In [22]:
a=pd.read_excel("update_emp_data.xlsx")
a

   Emp_ID     Name Department  Working_hours  Salary
0       1      Sam         IT              8   20000
1       2      Raj      Sales              8   25000
2       3    Rahul      Sales              8   34000
3       4   Aniket         HR              9   31000
4       5  Pallavi         HR              9   28000

In [23]:
#How do you import csv data?

In [24]:
a=pd.read_csv("emp_data.csv")
a

   Emp_ID     Name Department  Working_hours  Salary
0       1      Sam         IT              8   20000
1       2      Raj      Sales              8   25000
2       3    Rahul      Sales              8   34000
3       4   Aniket         HR              9   31000
4       5  Pallavi         HR              9   28000

In [26]:
df=pd.read_csv("google.csv")
df

,Restaurant_name,Rating,Location,Time
0,Suvarna Mahal,4.7,"RAMBAGH PALACE, Bhawani Singh Rd","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,Skyfall Restaurant,4.3,"5th Floor, Ridhi Tower, SB 57, Tonk Rd, opposi...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,J Brew & Kitchen Rooftop Restaurant,4.8,"97 A, 5, Bhawani Singh Ln, near News 18 Channel","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,NaN,NaN,NaN,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,Brewlicious Rooftop Bar Restaurant in Jaipur,4.8,"10th floor, Gadi, Okay Plus Tower, 5, Ajmer Rd...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,Stardust Jaipur,4.2,"Terrace floor, Signature Tower, Tonk Rd","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,Peacock Restaurant,4.4,Rajasthan,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,The Lama,4.7,"145, Ramesh Marg, above OTH E","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"Topaz & Sangria - FineDine, SkyLounge & Skydec...",4.6,"Hotel Natraj, Ganpati Plaza, Motilal Atal Rd","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,Govindam Retreat,4.4,"First Floor, All Rajasthan Shilp Gram Udyog, B...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
10,Rosella Jaipur,4.6,"51/12, opp. Technology Park","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
11,LASA Bistro | Pure Veg Restaurant in Jaipur,4.2,"E - 8 /9, North Part, Ram Path Shyam Nagar New...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
12,Thali & more,4.4,"1st floor plot no, C 46, Sarojini Marg","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
13,Monarch Restaurant,4.6,"Holiday Inn, Sardar Patel Marg","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
14,The Magnolia,4.2,"Garden Theatre, Smriti Van, Jawahar Lal Nehru ...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
15,The Forresta Kitchen & Bar,4.2,"Devraj Niwas, Mirza Ismail Rd, near Khasa Koth...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
16,Jaipur Modern - Store & Kitchen,4.4,"51, Dhuleshwar Garden, Sardar Patel Marg, near...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
17,Daniel's Oriental Kitchen,4.8,"36 Sanjay Marg , Gopal Bari","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
18,Annpoornam - Best South Indian Restaurant In J...,4.6,"Ground Floor, Moondra Tower, Plot No 012A, Ash...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
19,Handi restaurant jaipur,4.1,"Mirza Ismail Rd, opp. GPO","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
20,Meraaki Kitchen,4.4,"Near Civil Lines Metro Station Piller No. 88, ...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [27]:
hp=pd.read_csv("Hp laptop.csv")
hp

,Model_name,Rating,Review,Processor,Ram,Window,SSD,Size,Warrenty,Price,Discount,Availablity
0,HP 15 Intel Core 3 14th Gen 100U - (8 GB/512 G...,4.1,12 Reviews,Intel Core 3 Processor (14th Gen),8 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,39.62 cm (15.6 Inch) Display,1 Year Onsite Warranty,"₹37,990",25% off,NaN
1,HP Laptop Intel Core i3 12th Gen 1215U - (8 GB...,4.2,372 Reviews,Intel Core i3 Processor (12th Gen),8 GB DDR4 RAM,Windows 11 Home Operating System,256 GB SSD,39.62 cm (15.6 inch) Display,NaN,"₹33,999",27% off,Currently unavailable
2,HP 15s Intel Core i3 12th Gen 1215U - (8 GB/51...,4.2,579 Reviews,Intel Core i3 Processor (12th Gen),8 GB DDR4 RAM,64 bit Windows 11 Operating System,512 GB SSD,39.62 cm (15.6 inch) Display,1 Year Onsite Warranty,"₹34,970",31% off,Currently unavailable
3,HP Intel Celeron Dual Core N4500 - (8 GB/512 G...,5.0,0 Reviews,Intel Celeron Dual Core Processor,8 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,35.56 cm (14 Inch) Display,NaN,"₹25,880",18% off,Currently unavailable
4,HP 15s AMD Ryzen 3 Quad Core 5300U - (8 GB/512...,4.3,476 Reviews,AMD Ryzen 3 Quad Core Processor,8 GB DDR4 RAM,64 bit Windows 11 Operating System,512 GB SSD,39.62 cm (15.6 inch) Display,1 Year Onsite Warranty,"₹31,990",32% off,NaN
5,HP AMD Athlon Dual Core - (8 GB/256 GB SSD/Win...,4.1,71 Reviews,AMD Athlon Dual Core Processor,8 GB LPDDR4 RAM,Windows 11 Operating System,256 GB SSD,39.62 cm (15.6 inch) Display,NaN,"₹24,999",50% off,NaN
6,HP AMD Athlon Dual Core 3050U - (8 GB/512 GB S...,4.0,144 Reviews,AMD Athlon Dual Core Processor,8 GB DDR4 RAM,64 bit Windows 11 Operating System,512 GB SSD,39.62 cm (15.6 inch) Display,NaN,"₹27,000",35% off,NaN
7,HP G9 SERIES AMD Athlon Dual Core 3050U - (4 G...,4.1,6 Reviews,AMD Athlon Dual Core Processor,4 GB DDR4 RAM,Windows 11 Operating System,256 GB SSD,39.62 cm (15.6 Inch) Display,NaN,"₹23,990",46% off,NaN
8,HP Intel Core N 12th Gen - (8 GB/512 GB SSD/Wi...,NaN,NaN,Intel Core N Processor (12th Gen),8 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,35.56 cm (14 inch) Display,NaN,"₹37,990",25% off,NaN
9,HP 15s Intel Core i5 12th Gen 1240P - (8 GB/51...,4.1,21 Reviews,Intel Core i5 Processor (12th Gen),8 GB DDR4 RAM,64 bit Windows 11 Operating System,512 GB SSD,39.62 cm (15.6 Inch) Display,1 Year Onsite Warranty,"₹51,000",28% off,NaN
10,HP 255 G9 AMD Athlon Dual Core AMD Athlon Silv...,4.0,131 Reviews,AMD Athlon Dual Core Processor,4 GB DDR4 RAM,DOS Operating System,256 GB SSD,39.62 cm (15.6 inch) Display,1 year warranty,"₹22,490",17% off,NaN
11,HP Intel Intel Core i5 11th Gen 1155G7 - (8 GB...,4.3,274 Reviews,Intel Core i5 Processor (11th Gen),8 GB DDR4 RAM,64 bit Windows 11 Operating System,512 GB SSD,39.62 cm (15.6 Inch) Display,NaN,"₹47,499",21% off,Currently unavailable
12,HP AMD Ryzen 7 Octa Core 5825U - (16 GB/512 GB...,4.1,13 Reviews,AMD Ryzen 7 Octa Core Processor,16 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,39.62 cm (15.6 Inch) Display,1 Year Onsite Warranty,"₹47,990",13% off,NaN
13,HP 15 (2024) AMD Ryzen 3 Quad Core 7320U - (8 ...,4.2,215 Reviews,AMD Ryzen 3 Quad Core Processor,8 GB DDR4 RAM,Windows 11 Operating System,512 GB SSD,39.62 cm (15.6 Inch) Display,NaN,"₹30,990",32% off,NaN
14,HP MS Office 2024 Intel Core i3 13th Gen 1315U...,4.1,1 Reviews,Intel Core i3 Processor (13th Gen),8 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,39.62 cm (15.6 inch) Display,1 Year Carry-in Warranty,"₹34,400",28% off,Currently unavailable
15,HP 15 (2025) AMD Athlon Dual Core 7120U - (8 G...,4.7,1 Reviews,AMD Athlon Dual Core Processor,8 GB DDR4 RAM,64 bit Windows 11 Home Operating System,256 GB SSD,39.62 cm (15.6 inch) Display,1 Year Onsite Warranty,"₹24,690",45% off,NaN
16,HP MSO 2024 Intel Core i3 13th Gen 1315U - (16...,4.0,41 Reviews,Intel Core i3 Processor (13th Gen),16 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,39.62 cm (15.6 Inch) Display,1 Year Onsite Warranty,NaN,NaN,Currently unavailable
17,HP 15 G10 (2025) AMD Athlon Dual Core 7120U - ...,4.1,7 Reviews,AMD Athlon Dual Core Processor,8 GB DDR4 RAM,64 bit Windows 11 Home Operating System,256 GB SSD,39.62 cm (15.6 inch) Display,1 Year Onsite Warranty,"₹24,999",44% off,NaN
18,HP Victus Intel Core i5 13th Gen 13420H - (16 ...,4.2,7 Reviews,Intel Core i5 Processor (13th Gen),16 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,39.62 cm (15.6 inch) Display,1 Year Carry-in Warranty,"₹69,990",19% off,NaN
19,HP Victus Intel Core i5 13th Gen 13420H - (16 ...,4.1,19 Reviews,Intel Core i5 Processor (13th Gen),16 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,39.62 cm (15.6 inch) Display,NaN,"₹75,990",19% off,NaN
20,HP 15 G9 (2025) AMD Ryzen 3 Dual Core 3250U - ...,4.1,10 Reviews,AMD Ryzen 3 Dual Core Processor,16 GB DDR4 RAM,64 bit Windows 11 Operating System,512 GB SSD,39.62 cm (15.6 inch) Display,1 Year Onsite Warranty,"₹30,990",40% off,NaN
21,HP Victus Intel Core i5 13th Gen 13420H - (16 ...,4.2,27 Reviews,Intel Core i5 Processor (13th Gen),16 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,39.62 cm (15.6 inch) Display,1 Year Carry-in Warranty,"₹60,990",18% off,NaN
22,HP Victus AI 39 TOPS AMD Ryzen 9 Octa Core 894...,4.1,2 Reviews,AMD Ryzen 9 Octa Core Processor,16 GB DDR5 RAM,Windows 11 Operating System,1 TB SSD,39.62 cm (15.6 Inch) Display,1 Year Onsite Warranty,"₹98,990",20% off,NaN
23,HP Intel Core i5 13th Gen 1334U - (12 GB/512 G...,4.1,10 Reviews,Intel Core i5 Processor (13th Gen),12 GB DDR4 RAM,Windows 11 Home Operating System,512 GB SSD,39.62 cm (15.6 Inch) Display,1 Year Onsite Warranty,"₹51,990",25% off,NaN